body { margin: 8px; border: 0; padding: 0; background: #fff; font-family: sans-serif; }
div { margin: 0; padding: 0; border: 0; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.field {
  white-space: nowrap;
}

.drop {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  font-size: smaller;
  width: 15em;
  white-space: normal;
}
.drop > * {
  cursor: pointer;
  padding: 4px 8px;
}
.drop > *:hover {
  background-color: #ddd;
}

form > div {
  margin: 0.25em 0;
}
